*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #005758;
  font-family: system-ui;
}

.container {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.btn {
  background-color: #008487;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.header {
  background: url("./images/background.jpg");
  opacity: .7;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allTeam {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-around;
}

.team {
  width: 30%;
  text-align: center;
  padding: 30px 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 13px 2px #ffffff;
  margin: 20px 0px;
}

.team img {
  width: 50%;
}

.team .btn {
  margin: 10px 0;
}

.teamDetailsContainer {
  display: flex;
  padding: 15px;
  margin: 30px auto;
  background-color: rgb(1, 160, 160);
  box-shadow: 0px 2px 13px 1px rgb(5, 255, 255);
  border-radius: 10px;
  align-items: center;
}

.teamDetails {
  width: 50%;
  color: #ffffff;
}

.teamDetails h1, h4 {
  padding: 5px;
}

.teamImg {
  width: 50%;
}

.teamImg img {
  border-radius: 10px;
}

.description {
  color: white;
}

.description div {
  padding: 20px 0;
}

.socialIcon {
  display: flex;
  margin: 0 auto;
  width: 150px;
  text-align: center;
}

.error {
  color: red;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}




@media screen and (max-width: 980px) {
  .headerText {
    font-size: 60px;
  }
  .header {
    padding: 50px;
  }
  .team {
    width: 47%;
  }
}

@media screen and (max-width: 500px) {
  .headerText {
    font-size: 30px;
  }
  .headerDescription {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .team {
    width: 100%;
  }
  .teamDetailsContainer {
    display: block;
  }
  .teamDetails {
    width: 100%;
  }
  .teamImg {
    width: 100%;
    margin-top: 30px;
  }
}